.serviceItem {
	//text-align: center;
	.heading {
		font-size: 26px;
		font-weight: 600;
	}
	.headingTag {
		font-size: 18px;
		font-weight: 300;
	}
	.mainText {
		font-size: 14px;
		font-weight: 300;
	}

	.serviceTitle {
		font-size: 35px;
		font-weight: 300;
		line-height: 50px;
	}
}