<div class="container" ng-controller="AboutCtrl">
    <div class="row pageHeading">
        <div class="col-md-3">
            <span class="mainHeading">About</span>
        </div>
        <div class="col-md-offset-2 col-md-7 subHeading">
            <span>Big-Data. Big Challenges. Big Investment</span>
        </div>
    </div>
    <div class="row pageHeadingSeparator">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row subSection">
        <div class="col-md-12">
            <span class="heading">Philosophy</span>
            <span class="headingTag">It's the Math.</span>
            <br>
            <div class="mainText">
                Solving big-data challenges is not only a hardware or software problem, it requires a new way of thinking about data. At Rhostam, we focus on the mathematical relationships between crucial variables and the transformative affect they have on the decision-making process. Data Management Platforms, Analytics Tools and Modeling Algorithms are all critical components but without the right architecture - the actionable analyses and corresponding investment – will not be optimized.
            </div>
        </div>
        <div class="col-xs-offset-3 col-xs-6">
            <hr>
        </div>
    </div>
    <div class="row subSection">
        <div class="col-md-12">
            <span class="heading">Practicality</span>
            <span class="headingTag">Realistic Engagement</span>
            <br>
            <div class="mainText">
                Our philosophy permeates our organization, and it drives our unique solutions. But, at Rhostam, we are also very pragmatic; it is your business, your objectives, your strategies, your data, etc. that will inform the ideal decision-making processes and extract actionable insights. Simply put, Rhostam has the very best subject matter experts, the most efficient modeling tools and the finest deployment platforms – all focused on your specific wants and needs.
            </div>
        </div>
        <div class="col-xs-offset-3 col-xs-6">
            <hr>
        </div>
    </div>
    <div class="row subSection">
        <div class="col-md-12">
            <span class="heading">Rhostam <font color="#1380B3">Xarang</font><sup>&trade;</sup></span>
            <span class="headingTag">Next Generation Real-Time Big Data Solutions</span>
            <br>
            <div class="mainText">
                Rhostam has developed a breakthrough solutions architecture and machine-learning platform inspired by Dr. Saed Sayad’s theories and methodologies in his publication ‘Real Time Data Mining’. We passionately refer to it as the Xarang<sup>&trade;</sup> platform, and it is the core of our most sophisticated solutions. It truly is the next generation in advanced business intelligence solutions.
                <br>
                <br>
                The Xarang<sup>&trade;</sup> predictive modeling engine is our core component and is unique in its ability to rapidly integrate diverse data sources, quickly correlate multiple variables, and unify relevant attributes. It rapidly ingests real-time, first-party and third-party data and delivers programmatic outcomes to execution platforms. Xarang Fusion<sup>&trade;</sup>, our intuitive, user-friendly interface combines the functionality of the most advanced big-data and predictive analytics tools and allows our customers to seamlessly integrate all aspects of data mining - analyzing, encoding, modeling and predicting.
            </div>
        </div>
        <div class="col-xs-offset-3 col-xs-6">
            <hr>
        </div>
    </div>
    <div class="row subSection">
        <div class="col-md-12">
            <span class="heading">Thinking</span>
            <span class="headingTag">Whitepapers. Recognitions. Press.</span>
            <br>
            <div class="mainText">
                Rhostam’s management team is recognized within the data, analytics and modeling ecosystem. Read more about our intellectual property, our industry recognition, and our latest news.
            </div>
        </div>
        <div class="col-xs-offset-3 col-xs-6">
            <hr>
        </div>
    </div>
        <div class="row subSection">
        <div class="col-md-12">
            <span class="heading">Management Team</span>
            <span class="headingTag">Unique. Passionate. Visionary.</span>
            <br>
            <div class="mainText">
                Our management team is unique, thought-leaders in their respective fields of subject matter expertise. Rhostam leverages the aggregate wisdom of academics, technologists and practitioners to develop real, meaningful solutions. We strive to deliver added-value to all key decision-makers in an organization; the CIO, the CTO, and the CMO.
            </div>
            <div class="row team">
                <div class="col-xs-12 col-sm-6 col-md-6 teamMember">
                    <div class="well">
                        <img src="images/team_member1.png" alt="Member Portrait" class="img-circle portrait">
                        <br>
                        <span class="memberName">Salar Sayyad</span>
                        <br>
                        <span class="memberPosition">Co-Founder & CEO</span>
                        <hr>
                        <a href="mailto:salar.sayyad@rhostam.com" class="socialIcon">
                            <i class="fa fa-envelope-o fa-2x"></i>
                        </a>
                        <a href="http://ca.linkedin.com/pub/salar-sayyad/52/1a3/135" class="socialIcon" target="_blank">
                            <i class="fa fa-linkedin-square fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 teamMember">
                    <div class="well">
                        <img src="images/team_member3.png" alt="Member Portrait" class="img-circle portrait">
                        <br>
                        <span class="memberName">Nicholas Dudynskay</span>
                        <br>
                        <span class="memberPosition">Co-Founder & COO</span>
                        <hr>
                        <a href="mailto:nicholas.dudynskay@rhostam.com" class="socialIcon">
                            <i class="fa fa-envelope-o fa-2x"></i>
                        </a>
                        <a href="http://www.linkedin.com/pub/nicholas-%22mike%22-dudynskay/13/2a7/9b1" class="socialIcon" target="_blank">
                            <i class="fa fa-linkedin-square fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row team">
                <div class="col-xs-12 col-sm-6 col-md-6 teamMember">
                    <div class="well">
                        <img src="images/team_member7.png" alt="Member Portrait" class="img-circle portrait">
                        <br>
                        <span class="memberName">Kara Olson</span>
                        <br>
                        <span class="memberPosition">Finance Director</span>
                        <hr>
                        <a href="mailto:kara.olson@rhostam.com" class="socialIcon">
                            <i class="fa fa-envelope-o fa-2x"></i>
                        </a>
                        <a href="http://www.linkedin.com/pub/kara-olson/0/921/481" class="socialIcon" target="_blank">
                            <i class="fa fa-linkedin-square fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 teamMember">
                    <div class="well">
                        <img src="images/team_member2.png" alt="Member Portrait" class="img-circle portrait">
                        <br>
                        <span class="memberName">Dr. Saed Sayad</span>
                        <br>
                        <span class="memberPosition">Data Science (Advisory)</span>
                        <hr>
                        <a href="mailto:saed.sayad@rhostam.com" class="socialIcon">
                            <i class="fa fa-envelope-o fa-2x"></i>
                        </a>
                        <a href="http://ca.linkedin.com/pub/saed-sayad/0/27b/a70" class="socialIcon" target="_blank">
                            <i class="fa fa-linkedin-square fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
