<div class="container">
<div class="jumbotron" style="background: url(images/homepage_graphic_notext.png) no-repeat 0 -175px scroll;-webkit-background-size: 100%;-moz-background-size: 100%;-o-background-size: 100%;background-size: 100%;">
    <div class="row">
        <hr>
    </div>
    <div class="row subHeading">
        <div class="col-md-offset-4 col-md-8" style="background-color: rgba(0,0,0,0.5); padding-bottom: 38px;">
            <span class="productName"><font color="#1380B3"><b>Xarang</b></font><sup>&trade;</sup></span>
            <br>
            Introducing the next generation of real-time analytics for big data.
            <br>
            <a ng-click="gotoTop()" class="btn btn-lg btn-success" href="#/about">
                <span class="glyphicon glyphicon-chevron-right"></span> Learn More
            </a>
            <br>
        </div>
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="row marketingVectors hidden-xs hidden-sm hidden-md">
        <div class="col-xs-3 col-md-3">
            <div class="overlay">
                <span class="text" style="top: 1.5em;">Programmatic<br>Multi-Industry<br>Big Data Solutions</span>
            </div>
            <img src="images/vector_136_crop_1.jpg" width="100%">
        </div>
        <div class="col-xs-3 col-md-3">
            <div class="overlay">
                <span class="text" style="top: 1.5em;">Rapid<br>Data Integration and Model Deployment</span>
            </div>
            <img src="images/vector_136_crop_8.jpg" width="100%">
        </div>
        <div class="col-xs-3 col-md-3">
            <div class="overlay">
                <span class="text" style="top: 1.5em;">Intuitive<br>Data Exploration<br>& Prediction Tools</span>
            </div>
            <img src="images/vector_136_crop_5.jpg" width="100%">
        </div>
        <div class="col-xs-3 col-md-3">
            <div class="overlay">
                <span class="text" style="top: 1.5em;">'On-the-fly'<br>Model Generation and<br>Outcome Optimization</span>
            </div>
            <img src="images/vector_136_crop_3.jpg" width="100%">
        </div>
    </div>
</div>
</div>