<div class="container" ng-controller="PartnersCtrl">
	<div class="row pageHeading">
        <div class="col-md-3">
            <span class="mainHeading">Partners</span>
        </div>
        <div class="col-md-offset-4 col-md-5 subHeading">
            <span>Proven. Trusted. Progressive.</span>
        </div>
    </div>
    <div class="row pageHeadingSeparator">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row subSection">
        <div class="col-md-6">
            <span class="heading">Technology Partners</span>
            <span class="headingTag">Best-In-Class.</span>
            <br>
            <div class="mainText">
                Rhostam ensures that you have access to best-in-class services and resources. We only partner with progressive industry leaders for platform integration and implementation. Innovation, adoption and efficacy form the basis for our selection of key technology partners.
            </div>
        </div>
        <div class="col-md-6" style="margin-top: 30px;">
            <img src="images/technology_partners.png" width="100%">
        </div>
        <div class="col-xs-offset-3 col-xs-6">
            <hr>
        </div>
    </div>
    <div class="row subSection">
        <div class="col-md-12">
            <span class="heading">Solutions Platforms</span>
            <span class="headingTag">Flexible.</span>
            <br>
            <div class="mainText">
                Rhostam engages other trusted solutions partners when client requirements exceed our core capabilities. We cherish working with other well-vetted partners within, or outside, our client’s ecosystems. Our objective is to optimize your business intelligence, not ‘reinvent the wheel’.
            </div>
        </div>
        <div class="col-xs-offset-3 col-xs-6">
            <hr>
        </div>
    </div>
    <div class="row subSection">
        <div class="col-md-5">
            <span class="heading">Client Experience</span>
            <span class="headingTag">Blue-Chip.</span>
            <br>
            <div class="mainText">
                Rhostam works with a select group of Blue-Chip clientele across a broad cross-section of industries.
            </div>
        </div>
        <div class="col-md-7" style="margin-top: 25px;">
            <img src="images/client_logos.png" width="100%">
        </div>
    </div>
</div>
