<div class="container" ng-controller="ProductsCtrl">
    <div class="row pageHeading">
        <div class="col-md-3">
            <span class="mainHeading">Products</span>
        </div>
        <div class="col-md-offset-3 col-md-6 subHeading">
            <span></span>
        </div>
    </div>
    <div class="row pageHeadingSeparator">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="well serviceItem">
                <span class="heading">Optimization Products</span>
                <br>
                <span class="headingTag">Maximize Existing Investment.</span>
                <hr>
                <div class="mainText">
                    Legacy data management platforms, analytics tools and predictive modeling engines exist in many sophisticated organizations, and have been implemented at great expense. Rhostam’s objective is to preserve your investment, and improve your business intelligence by optimizing existing system performance. Xarang<sup>&trade;</sup> seamlessly integrates with your legacy platform and can be operational within 24 hours. Importantly, the Xarang Fusion<sup>&trade;</sup> power-user interface allows your team of professionals to immediately begin encoding, analyzing and modeling predictive programmatic outcomes, or the professional services team at Rhostam can manage the entire the process on your behalf.
                    <br><br>
                    Rhostam engages a broad spectrum of clients across multiple industry groups, wherever big-data and real-time analytics coincide. You might be in the Financial Services sector and the most pressing business need is to identify fraudulent credit card transactions, or you might be in the Insurance industry and there is critical requirement to predict high-risk customers. Alternatively, you might be a Retailer who seeks a shelf assortment optimization tool, or a Product Manufacturer that desires a dynamic pricing model. The possibilities are countless.
                    <br><br>
                    In each of these scenarios, our objective is simple - generate a net positive impact on your financial statement.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well serviceItem">
                <span class="heading">Enterprise-Wide Platforms</span>
                <br>
                <span class="headingTag">Deploy Complete Solutions.</span>
                <hr>
                <div class="mainText">
                    Rhostam Xarang<sup>&trade;</sup> is the next generation big-data platform - data management, analytics tools and modeling engines – enhanced by ‘friendly’ UI/UX interfaces and real-time programmatic outcomes. It is a license-based platform and forms the core of our enterprise-wide solutions. For companies new to big-data, and organizations seeking more efficient, scalable solutions, Rhostam Xarang<sup>&trade;</sup> is the answer to your most pressing needs. We offer it as a SaaS license as well as a service-based platform where Rhostam experts manage the entire process.
                    <br><br>
                    The Xarang<sup>&trade;</sup> predictive modeling engine is our core component and is unique in its ability to rapidly integrate diverse data sources, quickly correlate multiple variables, and unify relevant attributes. It rapidly ingests real-time, first-party and third-party data and delivers programmatic outcomes to execution platforms. Xarang Fusion<sup>&trade;</sup>, our intuitive, user-friendly interface combines the functionality of the most advanced big-data and predictive analytics tools and allows our customers to seamlessly integrate all aspects of data mining - analyzing, encoding, modeling and predicting.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well serviceItem">
                <span class="heading">Consulting Engagements</span>
                <br>
                <span class="headingTag">Resolve Intricate Challenges.</span>
                <hr>
                <div class="mainText">
                    Nuanced, seemingly unsolvable ‘glitches’ can often impede otherwise flawless platform performance. Rhostam specializes in helping clients identify and eliminate impediments that currently limit the value of your business intelligence platforms. Our Consultants have in-depth project-oriented experience and are always available for an initial consultation.
                </div>
            </div>
        </div>
    </div>
</div>