<div class="container" ng-controller="SupportCtrl">
	<div class="row pageHeading">
        <div class="col-md-2">
            <span class="mainHeading">Support</span>
        </div>
        <div class="col-md-offset-7 col-md-3 subHeading">
            <span>Always On.</span>
        </div>
    </div>
    <div class="row pageHeadingSeparator">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <span style="font-size: 22px;font-weight: 300;">
                    Rhostam believes the best clients are satisfied clients, and 24/7 technical support is a key component. We are ‘always-on’ and our data scientists, technologists and engineers are there to answer your questions, and resolve platform issues. If we are unable to provide immediate assistance, we promise to have an answer within 24 hours.
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <img src="images/support_email.png" />
                        <span style="font-size: 28px;font-weight: 400; margin-left: 55px;">support@rhostam.com</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <img src="images/support_phone.png" />
                        <span style="font-size: 28px;font-weight: 400; margin-left: 55px;">+1 (647) - 792 - 9139</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <img src="images/support_chat.png" />
                        <span style="font-size: 28px;font-weight: 400; margin-left: 55px;"><b>Skype ID</b>: rhostam.inc</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>